body {
    font-family: 'Lato', sans-serif;
}

.container {
    min-width: 320px;
}

/**********HEADER**********/

.navigation-block {
    height: 37px;
    background-color: #373C3F;
    display: flex;
    justify-content: space-between;
}

.navigation-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    padding-left: 18px;
    padding-top: 11.5px;
    position: relative;
    display: flex;
}

/**********DROPDOWN-MENU**********/

.dropbtn {
    background-color: #202529;
    width: 44px;
    height: 37px;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
}

.fa-bars {
    color: #FFFFFF;
}

.bars-icon {
    padding: 10px 15px;
}

.dropdown {
    position: relative;
    display: flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 37px;
    left: -138px;
    background-color: #FAFAFA;
    min-width: 182px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-link {
    color: #444444;
    border: 0.5px solid #E1E1E1;
    font-size: 10px;
    padding: 10px 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content-list:hover {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}

.dropdown-content-item:hover {
    background-color: #F5F5F5;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    display: block;
    background-color: #202529;
}

.navigation-logo {
    display: none;
}

/**********SLOGAN**********/

.header-slogan {
    background: no-repeat url("../img/header-fon.png") center center;
    background-size: cover;
    min-width: 320px;
    height: 173px;
}

.header-slogan-text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    padding-left: 20px;
    padding-top: 12px;
    line-height: 1.5;
}

.header-slogan-site {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #A6D6E0;
    padding-left: 21px;
    padding-top: 5px;
}

/**********PROPOSALS**********/

.proposals {
    margin-top: 4px;
}

.proposals-item {
    display: flex;
    margin-bottom: 2px;
    align-content: center;
}

.pizza-delivery-proposal {
    background: url('../img/Pizza-delivery-fon.png') 100% 95% no-repeat;
    background-size: cover;
    min-width: 250px;
    height: 75px;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.green-btn {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 71px;
    height: 75px;
    background-color: #ACD8AD;
}

.arrow {
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
}

.salads-proposal {
    background: url('../img/Salads-fon.png') 100% 95% no-repeat;
    background-size: cover;
    min-width: 250px;
    height: 75px;
    flex-direction: row;
    flex-grow: 1;
}

.desserts-proposal {
    background: url('../img/Desserts-fon.png') 100% 15% no-repeat;
    background-size: cover;
    min-width: 250px;
    height: 75px;
    flex-direction: row;
    flex-grow: 1;
}

.proposals-text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    line-height: 3.5;
}

/**********SLOGAN**********/

.slogan {
    margin-top: 20px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slogan-title {
    font-family:'Lato', sans-serif;
    font-size: 19px;
    color: #3F4043;
    text-transform: uppercase;
    padding-left: 7px;
    letter-spacing: 0.63px;
}

.slogan-subtitle {
    font-family:'Lato', sans-serif;
    font-size: 10px;
    color: #CBCCCE;
    padding-left: 8px;
    margin-top: 3px;
    display: block;
}

.slogan-img {
    display: none;
    background-image: url("../img/menu-logo.png");
    background-size: cover;
    min-width: 120px;
    height: 89px;
}

/**********DISHES**********/

.dishes-container {
    margin: 10px 18px;
}

.coffee-beer-menu {
    margin-top: 30px;
}

.dishes {
    display: block;
    min-width: 320px;
}

.dishes-title {
    min-width: 320px;
    background-color: #3F4043;
    color: #ACD8AD;
    text-transform: uppercase;
    font-size: 20px;
    padding: 8px 0 9px 18px;
}

.dishes-type {
    margin: 10px 0 11.5px 0;
    height: 30px;
    text-transform: uppercase;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    line-height: 29px;
    align-items: center;
}

.pizza-icon {
    width: 25px;
    height: 25px;
}

.dish-top {
    display: flex;
    justify-content: space-between;
}

.dish-name {
    color: #3F4043;
    font-size: 13.5px;
}

.dish-price {
    color: #3F4043;
    font-size: 14px;
    font-weight: 700;
}

.dish-description {
    color: #3F4043;
    margin: 8px 0 11.5px 0;
    font-size: 9px;
    text-align: justify;
    line-height: 1.1;
}

.dish-description {
    color: #3F4043;
    font-size: 9px;
}

.wine-icon {
    padding: 2px 6px 0 0;
    width: 13px;
    height: 24px;
}

.green-title {
    min-width: 320px;
    color: #FFFFFF;
    background-color: #ACD8AD;
}

.drinks-icon {
    width: 30px;
    height: 21px;
    padding-top: 3px;
}

.beer-icon {
    width: 21px;
    height: 20px;
    padding: 3px 5px 0 0;
}

/**********FOOTER**********/

.footer {
    margin-top: 48px;
}

.footer-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    background-color: #ACD8AD;
    padding: 10px 0 9px 6px;
    line-height: 1.5;
    min-width: 320px;
    min-height: 36px;
}


/**********MEDIA**********/


@media (min-width: 640px) and (max-width: 980px) {

    .navigation-block {
        height: 74px;
    }

    .navigation-name {
        font-size: 24px;
        align-self: center;
    }

    .dropbtn {
        width: 82px;
        height: 74px;
        font-size: 30px;
    }

    .bars-icon {
        padding: 25px 27px;
    }

    .dropdown {
        display: flex;
    }

    .header-slogan {
        height: 346px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: 74px;
        left: -161px;
        width: 243px;
    }

    .dropdown-content-link {
        font-size: 14px;
        padding: 15px 27px;
    }

    .header-slogan-text {
        font-size: 36px;
        padding-left: 29px;
        padding-top: 23px;
        line-height: 1;
    }

    .header-slogan-site {
        font-size: 24px;
        padding-left: 28px;
        padding-top: 17px;
    }

    .proposals-item {
        flex-grow: 2;
    }

    .pizza-delivery-proposal {
        width: 499px;
        height: 150px;
    }

    .salads-proposal {
        width: 499px;
        height: 150px;
    }

    .desserts-proposal {
        width: 499px;
        height: 150px;
    }

    .green-btn {
        width: 142px;
        height: 150px;
    }

    .arrow {
        width: 12px;
        height: 12px;
    }

    .proposals-text {
        font-size: 36px;
    }

    .slogan {
        margin-top: 34px;
        margin-bottom: 15px;
    }

    .slogan-title {
        font-size: 26px;
        padding-left: 17px;
        letter-spacing: 0.63px;
        text-align: left;
    }

    .slogan-subtitle {
        font-size: 13px;
        padding-left: 18px;
        margin-top: 7px;
        text-align: left;
        display: block;
    }

    .dishes-container {
        padding-top: 18px;
        margin-bottom: 30px;
    }

    .dishes-title {
        font-size: 26px;
        padding: 17px 0 17px 29px;
    }

    .dishes-type {
        font-size: 24px;
        margin-bottom: 27px;
    }

    .dish-item {
        margin-bottom: 17px;
    }

    .dish-top {
        margin-bottom: 13px;
    }

    .dish-name {
        font-size: 20px;
    }

    .dish-price {
        font-size: 27px;
        font-weight: 700;
    }

    .dish-description {
        font-size: 18px;
        margin-bottom: 13px;
    }

    .pizza-icon {
        width: 49px;
        height: 48px;
    }

    .wine-icon {
        width: 27px;
        height: 48px;
    }

    .drinks-icon {
        width: 61px;
        height: 42px;
    }

    .beer-icon {
        width: 43px;
        height: 42px;
    }

    .footer {
        margin-top: 88px;
    }

    .footer-content {
        font-size: 18px;
    }
}

@media (min-width: 980px) and (max-width: 1200px) {

    .navigation-block {
        height: 97px;
    }

    .navigation-name {
        display: none;
    }

    .dropbtn {
        display: none !important;
    }

    .dropbtn:hover {
        display: none;
    }

    .dropdown-content {
        position: absolute;
        top: 34px;
        left: 0;
        background-color: transparent;
        min-width: 300px;
        color: #FFFFFF;
        box-shadow: none;
        z-index: 1;
        display: flex;
    }

    .dropdown-content-link {
        color: #EBEBEB;
        box-sizing: content-box;
        border: none;
        font-size: 15px;
        padding-left: 15px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .dropdown-content-list {
        display: flex;
        flex-direction: row;
        width: 800px;
    }

    .dropdown:hover .dropdown-content{
        display: none;
    }

    .navigation-logo {
        background: no-repeat url("../img/navigation-logo.png");
        width: 104px;
        height: 83px;
        display: flex;
        align-self: center;
        padding-left: 19px;
    }

    .header-slogan {
        height: 530px;
    }

    .header-slogan-text {
        font-size: 54px;
    }

    .header-slogan-site {
        font-size: 34px;
        padding-top: 29px;
    }

    .proposals {
        display: flex;
        min-width: 980px;
    }

    .proposals-item {
        min-width: 327px;
        flex-grow: 2;
    }

    .pizza-delivery-proposal {
        height: 327px;
        display: flex;
        justify-content: center;
    }

    .salads-proposal {
        height: 327px;
        display: flex;
        justify-content: center;
    }

    .desserts-proposal {
        height: 327px;
        display: flex;
        justify-content: center;
    }

    .proposals-text {
        align-self: center;
        font-size: 38px;
    }

    .green-btn {
        display: none;
    }

    .slogan {
        justify-content: space-between;
    }

    .slogan-title {
        font-size: 22px;
        padding-left: 23px;
        display: inline-block;
    }

    .slogan-subtitle {
        font-size: 13px;
        display: block;
        padding-left: 23px;
    }

    .slogan-img {
        width: 120px;
        display: flex;
        margin-right: 15px;
        height: 110px;
    }

    .dishes {
        display: flex;
        min-width: 980px;
    }

    .dishes-container {
        margin: 20px 14px;
    }

    .coffee-beer-menu {
        margin-top: 0;
    }

    .dishes-title {
        font-size: 22px;

        padding: 20px 0 17px 14px;
    }

    .dishes-type {
        font-size: 20px;
        margin-bottom: 38px;
    }

    .dish-item {
        margin-bottom: 21px;
    }

    .dish-top {
        margin-bottom: 13px;
    }

    .dish-name {
        font-size: 22px;
    }

    .dish-price {
        font-size: 27px;
    }

    .dish-description {
        font-size: 16px;
    }

    .pizza-icon {
        width: 42px;
        height: 42px;
    }

    .wine-icon {
        width: 25px;
        height: 44px;
    }

    .drinks-icon {
        width: 56px;
        height: 39px;
    }

    .beer-icon {
        width: 40px;
        height: 39px;
    }

    .footer-content {
        display: flex;
        font-size: 18px;
        justify-content: space-between;
        align-items: center;
        padding: 0 23px;
    }

    .first-row {
        display: inline;
    }

}


@media (min-width: 1200px) {
    .container {
        min-width: 1200px;
    }

    .navigation-block {
        height: 97px;
    }

    .navigation-name {
        display: none;
    }

    .dropbtn {
        display: none;
    }

    .dropdown-content {
        position: absolute;
        top: 34px;
        left: 0;
        background-color: transparent;
        min-width: 300px;
        color: #FFFFFF;
        box-shadow: none;
        z-index: 1;
        display: flex;
    }

    .dropdown-content-link {
        color: #EBEBEB;
        box-sizing: content-box;
        border: none;
        font-size: 15px;
        padding-left: 19px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .dropdown-content-list {
        display: flex;
        flex-direction: row;
        width: 800px;
    }

    .dropdown:hover .dropdown-content {
        display: none;
    }

    .navigation-logo {
        background: no-repeat url("../img/navigation-logo.png");
        width: 104px;
        height: 83px;
        display: flex;
        align-self: center;
        padding-left: 19px;
    }

    .header-slogan {
        height: 649px;
    }

    .header-slogan-text {
        font-size: 62px;
        padding-top: 29px;
    }

    .header-slogan-site {
        font-size: 38px;
        padding-top: 27px;
    }

    .proposals {
        display: flex;
        min-width: 980px;
    }

    .proposals-item {
        min-width: 400px;
        flex-grow: 2;
    }

    .pizza-delivery-proposal {
        height: 400px;
        display: flex;
        justify-content: center;
    }

    .salads-proposal {
        height: 400px;
        display: flex;
        justify-content: center;
    }

    .desserts-proposal {
        height: 400px;
        display: flex;
        justify-content: center;
    }

    .proposals-text {
        align-self: center;
        font-size: 43px;
    }

    .green-btn {
        display: none;
    }

    .slogan {
        justify-content: space-between;
    }

    .slogan-title {
        font-size: 26px;
        display: block;
        padding-left: 11px;
    }

    .slogan-subtitle {
        font-size: 13px;
        display: block;
        padding-left: 11px;
    }

    .slogan-img {
        display: flex;
        padding-right: 15px;
        height: 110px;
    }

    .dishes {
        display: flex;
    }

    .dishes-container {
        margin: 29px 13px 0 17px;
    }

    .coffee-beer-menu {
        margin-top: 0;
    }

    .dishes-title {
        font-size: 26px;
        padding: 17px 0 17px 14px;
    }

    .dishes-type {
        font-size: 22px;
        margin-bottom: 32px;
    }

    .dish-item {
        margin-bottom: 17px;
    }

    .dish-name {
        font-size: 22px;
    }

    .dish-description {
        font-size: 18px;
    }

    .dish-top {
        margin-bottom: 27px;
    }

    .dish-price {
        font-size: 27px;
    }

    .pizza-icon {
        width: 49px;
        height: 48px;
    }

    .wine-icon {
        width: 27px;
        height: 48px;
    }

    .drinks-icon {
        width: 61px;
        height: 42px;
    }

    .beer-icon {
        width: 43px;
        height: 42px;
    }

    .footer {
        margin-top: 96px;
    }

    .footer-content {
        display: flex;
        font-size: 18px;
        justify-content: space-between;
        align-items: center;
        padding: 0 28px;
    }

    .first-row {
        display: inline;
    }
}